# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Codegym\project\module2_practice\Week3_xu-ly-ngoai-le-debug\use-class-IllegalTriangleException\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
